<div class="ms-5">
  <div class="mb-0 border-top">
    <div class="card-body">
      <h5 class="card-title"><%= reply.user.email %></h5>
      <p class="card-text"><%= reply.body %></p>
    </div>
  </div>
</div>
