@import "bootstrap";
@import "toast";

.devise-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #2E0854;
  color: rgb(251, 251, 252);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
