<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <% @category.dreams.includes(:user).each do |dream| %>
      <div class="d-flex">
        <div class="p-2 w-100">
          <%= link_to dream.title, dream_path(dream) %>
        </div>
      </div>
    <% end %>
  </li>
</ul>
