<div class="col-md-2">
  <div class="card text-bg-dark p-3">
    <div class="card-header">
      <h5 class="card-title">Moon Phase</h5>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark"><%= @moon_phase_data[:timezone] %></li>
        <% @moon_phase_data[:days].first.each do |key, value| %>
          <li class="list-group-item text-bg-dark"><%= key %>: <%= value %></li>
        <% end %>
        <%= image_tag("#{@moon_phase_data[:days].first[:moonphase_name].downcase.gsub(' ', '_')}.png") %>
      </ul>
    </div>
  </div>
</div>
